* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

.container {
    width: 380px;
    margin: 100px auto;
    padding: 30px;
    background: #1f2937;
    border-radius: 12px;
    text-align: center;
}

.container h1 {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

a {
    color: #60a5fa;
    text-decoration: none;
}

.error {
    color: #f87171;
}

.dashboard {
    width: 700px;
    margin: 80px auto;
    padding: 30px;
    background: #1f2937;
    border-radius: 12px;
}

.dashboard input {
    width: 70%;
}

.dashboard button {
    width: 25%;
}
.results {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    padding: 12px;
    border: 1px solid #374151;
    text-align: center;
}

th {
    background: #111827;
}

td {
    background: #273449;
}